<%inherit file="/base.html"/>

<%block name="content">
<div id="demo" class="demo" v-cloak>
    <Spin size="large" fix v-if="loading"></Spin>
</div>
<style>
    [v-cloak] {
        display: none !important;
    }
</style>
</%block>

<script>
    Vue.prototype.$http = axios;
    axios.interceptors.response.use(response => {
        if (response.status !== 200) {
            return {
                code: response.status,
                message: '请求异常，请刷新重试',
                result: false
            }
        }
        return response.data
    });
    Vue.use(iview);
    new Vue({
        el: '#demo',
        data() {
            return {
                loading: false
            }
        },
        mounted() {
        },
        methods: {},
    })
</script>
<style>
    .demo {
        padding: 10px;
    }
</style>

