<%inherit file="/base.html"/>

<%block name="content">
<div id="demo" class="demo" v-cloak>
    <i-select v-model="ip" placeholder="请选择IP" @on-change="changeHost"
              style="display: inline-block;width: 340px">
        <i-option :value="host.ip" v-for="(host, index) in hostList" :key="index">
            {{ host.ip }}
        </i-option>
    </i-select>
    <div id="main" style="width: 100%;height: 500px;border:1px solid #ddd;margin-top: 10px">
        {{ phList }}
    </div>
</div>
<style>
    [v-cloak] {
        display: none !important;
    }
</style>
</%block>

<script>
    Vue.prototype.$http = axios;
    axios.interceptors.response.use(response => {
        if (response.status !== 200) {
            return {
                code: response.status,
                message: '请求异常，请刷新重试',
                result: false
            }
        }
        return response.data
    });
    Vue.use(iview);
    new Vue({
        el: '#demo',
        data() {
            return {
                hostList: [],
                phList: [],
                ip: ''
            }
        },
        mounted() {
            this.searchPhHost();
        },
        methods: {
            searchPhHost() {
                this.$http.post('search_ph_host').then(res => {
                    if (res.result) {
                        this.hostList = res.data;
                        if (this.hostList.length > 0) {
                            this.ip = this.hostList[0].ip;
                            this.searchPhListByIp();
                        }
                    } else {
                        this.$Message.error(res.message);
                    }
                });
            },
            changeHost() {
                this.searchPhListByIp();
            },
            searchPhListByIp() {
                this.$http.post('search_ph_list_by_ip?ip=' + this.ip).then(res => {
                    if (res.result) {
                        this.phList = res.data;
                        this.initChart();
                    } else {
                        this.$Message.error(res.message);
                    }
                });
            },
            initChart() {
                let dateList = [];
                let cpuList = [];
                let menList = [];
                let diskList = [];
                this.phList.forEach(item => {
                    dateList.push(item.when_created);
                    cpuList.push(item.cpu);
                    menList.push(item.mem);
                    diskList.push(item.disk);
                });

                let option = {
                    title: {
                        text: '主机状态图表'
                    },
                    tooltip: {},
                    legend: {
                        data: ['CPU(%)', 'MEM(%)', 'DISK(%)']
                    },
                    xAxis: {
                        data: dateList
                    },
                    yAxis: {},
                    series: [
                        {
                            name: 'CPU(%)',
                            type: 'line',
                            data: cpuList
                        },
                        {
                            name: 'MEM(%)',
                            type: 'line',
                            data: menList
                        },
                        {
                            name: 'DISK(%)',
                            type: 'line',
                            data: diskList
                        }
                    ]
                };
                let myChart = echarts.init(document.getElementById('main'));
                myChart.setOption(option);
            }
        },
    })
</script>
<style>
    .demo {
        padding: 10px;
    }
</style>

