<%inherit file="/base.html"/>

<%block name="content">
<div id="demo" class="demo" v-cloak>
    <div id="main" style="width: 40%; height: 300px;float: left"></div>
    <div id="main2" style="width: 40%;height: 300px;float: right"></div>
    <div style="clear: both"></div>
    <i-table :columns="columns" :data="diskData"></i-table>
</div>
<style>
    [v-cloak] {
        display: none !important;
    }
</style>
</%block>

<script>
    Vue.prototype.$http = axios;
    axios.interceptors.response.use(response => {
        if (response.status !== 200) {
            return {
                code: response.status,
                message: '请求异常，请刷新重试',
                result: false
            }
        }
        return response.data
    });
    Vue.use(iview);
    new Vue({
        el: '#demo',
        data() {
            return {
                ip: '${ip}',
                biz_id: '${biz_id}',
                phList: [],
                title: '负载趋势图',
                columns: [
                    {
                        title: '文件系统',
                        key: 'file'
                    },
                    {
                        title: '总大小',
                        key: 'total'
                    },
                    {
                        title: '已用大小',
                        key: 'used'
                    },
                    {
                        title: '可以大小',
                        key: 'avail'
                    },
                    {
                        title: '使用率',
                        key: 'use%'
                    },
                    {
                        title: '挂载点',
                        key: 'mounted'
                    },
                ],
                diskData: []
            }
        },
        mounted() {
            this.searchPh();
            this.searchMen();
            this.searchDisk();
        },
        methods: {
            searchPh() {
                this.$http.post('t/search_ph', {ip: this.ip}).then(res => {
                    this.phList = res.data;
                    let params = {
                        data: res.data,
                        type: 'line',
                        titleKey: 'ip',
                        valueKey: 'cpu'
                    };
                    this.initChart(params);
                })
            },
            searchMen() {
                this.$http.post('t/get_mem', {ip: this.ip, biz_id: this.biz_id}).then(res => {
                    this.initChart2(res.data);
                })
            },
            searchDisk() {
                this.$http.post('t/get_disk', {ip: this.ip, biz_id: this.biz_id}).then(res => {
                    this.diskData = res.data;
                })
            },
            initChart(params) {
                let titleKey = params.titleKey ? params.titleKey : 'title';
                let valueKey = params.valueKey ? params.valueKey : 'value';
                let xAxis = [];
                let series = [];
                params.data.forEach((item) => {
                    xAxis.push(item[titleKey]);
                    series.push(item[valueKey])
                });
                let option = {
                    title: {
                        text: params.title
                    },
                    tooltip: {},
                    legend: {
                        data: [params.legend ? params.legend : '']
                    },
                    xAxis: {
                        data: xAxis
                    },
                    yAxis: {},
                    series: [{
                        name: params.legend ? params.legend : '',
                        type: params.type ? params.type : 'bar',
                        data: series
                    }]
                };
                let myChart = echarts.init(document.getElementById('main'));
                myChart.setOption(option);
            },
            initChart2(data) {
                let option = {
                    title: {
                        text: '内存使用情况',
                        x: 'center'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    series: [
                        {
                            name: '内存使用情况',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '60%'],
                            data: data,
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                let myChart = echarts.init(document.getElementById('main2'));
                myChart.setOption(option);
            }
        },
    })
</script>
<style>
    .demo {
        padding: 10px;
    }
</style>

