<%inherit file="/base.html"/>

<%block name="content">
<div id="app" class="app" v-cloak>
    <i-button type="primary" @click="add">添加</i-button>
    <Modal v-model="showModal" width="600">
        <p slot="header">
            添加
        </p>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputCount3" class="col-sm-3 control-label">input：</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="inputCount3" placeholder="请输入">
                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">地区：</label>
                <div class="col-sm-7">
                    <select class="form-control">
                        <option value="1">a</option>
                    </select>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label col-sm-3" for="introduction">个人说明：</label>
                <div class="col-sm-7">
                    <textarea class="form-control" rows="3" id="introduction"></textarea>
                </div>
            </div>
        </form>
        <div slot="footer">
            <i-button type="primary" :loading="modal_loading" @click="save">确定</i-button>
            <i-button type="default" :loading="modal_loading" @click="quit">取消</i-button>
        </div>
    </Modal>
    <Spin size="large" fix v-if="loading"></Spin>
</div>
<style>
    #home {
        padding: 10px;
    }

    [v-cloak] {
        display: none !important;
    }
</style>
</%block>

<script>
    Vue.prototype.$http = axios;
    axios.interceptors.response.use(response => {
        if (response.status !== 200) {
            return {
                code: response.status,
                message: '请求异常，请刷新重试',
                result: false
            }
        }
        return response.data
    });
    Vue.use(iview);
    new Vue({
        el: '#app',
        data() {
            return {
                loading: false,
                item: {
                    biz_id: ''
                },
                condition: '',
                businessList: [],
                showModal: false,
                modal_loading: false,
                formItem: {}
            }
        },
        mounted() {
            this.searchBusiness();
        },
        methods: {
            searchBusiness() {
                this.$http.post('cc/search_business', {}).then(res => {
                    if (res.result) {
                        this.businessList = res.data;
                    } else {
                        this.$Message.error(res.message);
                    }
                });
            },
            add() {
                this.showModal = true;
            },
            save() {
                this.showModal = false;
            },
            quit() {
                this.showModal = false
            }
        },
    })
</script>
<style>
    .app {
        padding: 10px !important;
        overflow: hidden;
    }
</style>

